body{
	background-color: #f2ecd0;
}

b{
	font-size: 20px;
}

h2{
	margin-left: 50px;
	font-family: "Calibri";
	font-size: 30px;
}
h3{
	font-size: 30px;
}
p{
	font-size: 20px;
	font-family: "Calibri";
	margin-left: 50px;
	margin-right: 50px;
}
footer {
clear :both;
background-color : gray;
letter-spacing : 5px;
color : black;
padding: 10px;
text-align: center;
}
.panel{
	font-size: 20px;
	font-family: "Calibri";
	margin-left: 50px;
	margin-right: 50px;
}
