body{
    background-color: #f2ecd0;
    color: white;
}

b{
    font-size: 20px;
}
h1{
    font-family: "Calibri";
    font-size: 40px;
}
h2{
    margin-left: 50px;
    font-family: "Calibri";
    font-size: 30px;
}

h3{
    font-size: 30px;
}

p{
    font-size: 20px;
    font-family: "Calibri";
    margin-left: 50px;
    margin-right: 50px;
}

footer {
clear :both;
background-color : gray;
letter-spacing : 5px;
color : black;
padding: 10px;
text-align: center;
}

body, html {
    height: 100%
}

.container{
	background-color: #8598aa;
	margin-left: 120px;
	margin-right: 120px;
}

.panel, .versions, .alpha{
	font-size: 20px;
	font-family: "Calibri";
	margin-left: 50px;
	margin-right: 50px;
    	width: 67%;
}

.panel, .versions, .alpha, #references, h1, .description, .members{
    color: black;
}

div.panel, div.versions, div.alpha {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    margin-left: 150px;
    margin-right: 150px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

}

button.accordion.active:after {
    content: "\2212";
}

button.accordion {
    background-color: #cecdca;
    color: #444;
    cursor: pointer;
    padding: 20px;
    width: 70%;
    border: none;
    margin-left: 150px;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-radius: 12px;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.TableRHF{
	width:100%; 
	border-collapse:collapse; 
}

.TableRHF td{ 
	padding:10px; border:#788da1 1px solid;
}

.TableRHF tr{
	background: #495a69;
}
	
.TableRHF tr:nth-child(odd){ 
	background: #495a69;
}
	
.TableRHF tr:nth-child(even){
	background: #5e7387;
}

table{''
    display: block;
    width: 25%;
    float: left;
}

.bgimg {
    /* Background image */
    background-color: #8598aa;
    /* Full-screen */
    height: 80%;
    width: 70%;
    margin-left: 15%;
    /* Center the background image */
    background-position: center;
    /* Scale and zoom in the image */
    background-size: 50px;
    /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
    position: relative;
    /* Add a white text color to all elements inside the .bgimg container */
    color: white;
    /* Add a font */
    font-family: "Courier New", Courier, monospace;
    /* Set the font-size to 25 pixels */
    font-size: 25px;
}

/* Position text in the top-left corner */
.topleft {
    position: absolute;
    top: 0;
    left: 16px;
}

/* Position text in the bottom-left corner */
.bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
}

/* Position text in the middle */
.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Style the <hr> element */
hr {
    margin: auto;
    width: 40%;
}

/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}