nav {
position : fixed;
z-index: 10;
width: 100%;
}

nav li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

nav li a:hover,
.dropdown:hover .dropbtn {
    background-color: white;
    color : black;
}

nav li.dropdown {
    display: inline-block;
}

nav .dropdown-content {
    display: none;
    position: fixed;
    top: 45px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

nav .dropdown-content a:hover {
    background-color: black;
}

nav .dropdown:hover .dropdown-content {
    display: block;
}

nav ul.nav {
    height: 45px;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color:  #0d0d0d;
}
    
.nav li {
    letter-spacing: 2px;
    padding-right :35px;
    font-size: 15px;
    float: right;
    text-transform: uppercase;
    font-weight: bold;
}
    
    
.nav li a {
        display: block;
        color: white;
        text-align: center;
        text-decoration: none;
}

nav .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: #f2f2f2;
}

.nav li:last-child {
    float: left;
    background-color: white;
    border-style: solid;
    border-width: 5px;
    border-left-style: none;
    border-top-style: none;
    border-bottom-style: none;
    border-color: gray;
}
    
.nav li a:hover {
    background-color: white;
    color : black;
}

nav ul.nav-fixed {
    position: fixed;
    top: 0;
    width: 100%;
} 

.logo {
    padding: 0px;
    height :50px;
    width: 280px;
}

#navigator{
    font-family: "Calibri";
    font-size: 0px;
}