body{
	background-image: url ("/images/background.jpeg");
}

nav {
position : fixed;
z-index: 10;
width: 100%;
}

nav li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

nav li a:hover,
.dropdown:hover .dropbtn {
    background-color: white;
    color : black;
}

nav li.dropdown {
    display: inline-block;
}

nav .dropdown-content {
    display: none;
    position: fixed;
    top: 45px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

nav .dropdown-content a:hover {
    background-color: black;
}

nav .dropdown:hover .dropdown-content {
    display: block;gr
}

nav ul.nav {
    height: 45px;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color:  #0d0d0d;
}
    
.nav li {
    letter-spacing: 2px;
    padding-right :35px;
    font-size: 15px;
    float: right;
    text-transform: uppercase;
    font-weight: bold;
}
    
    
.nav li a {
        display: block;
        color: white;
        text-align: center;
        text-decoration: none;
}

nav .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: #f2f2f2;
}

.nav li:last-child {
    float: right;
    background-color: gray;
    border-style: solid;
    border-width: 5px;
    border-left-style: none;
    border-top-style: none;
    border-bottom-style: none;
    border-color: white;
}
    
.nav li a:hover {
    background-color: white;
    color : black;
}

nav ul.nav-fixed {
    position: fixed;
    top: 0;
    width: 100%;
} 

.logo {
    padding: 0px;
    height :50px;
}
#navigator{
	font-family: "Calibri";
	font-size: 0px;
}
.li{
	font-size: 30px;
}
#HOME {
	font-size: 50px;
	font-family: "Century Gothic";
	text-align: center;
	filter: glow(color=red,strength=3);
	padding-top: 5vh;
}
#webtek{
	font-family: "Calibri";
	font-size: 30px;
}
#webtekdescription{
	font-family: "Calibri";
	font-size: 25px;
	margin-top: 5px;
	margin-bottom: 30px;
	margin-left: 50px;
	margin-right: 50px;
	text-align: justify;
}
#timeline{
	text-align: center;
	font-family: "Calibri"
}
b{
	font-size: 20px;
}
#year{
	font-family: "Calibri";
	font-size: 18px;
	margin-left: 50px;
	margin-right: 50px;
	text-align: justify;
}
#LECTURE {
	font-size: 50px;
	font-family: "Century Gothic";
	filter: glow(color=red,strength=3);
	padding-top: 5vh;
	text-align: center;
}
#GLOSSARY {
	font-size: 50px;
	font-family: "Century Gothic";
	filter: glow(color=red,strength=3);
	padding-top: 5vh;
	text-align: center;
}
#REFERENCES {
	font-size: 50px;
	font-family: "Century Gothic";
	filter: glow(color=red,strength=3);
	padding-top: 5vh;
	text-align: center;
}
#CONTACT {
	font-size: 50px;
	font-family: "Century Gothic";
	filter: glow(color=red,strength=3);
	padding-top: 5vh;
	text-align: center;
}
#feedback-page{
	text-align:center;
}

#form-main{
	width:100%;
	float:left;
padding-top: 0vh;
}

#form-div {
	background-color:gray;
	padding-left:35px;
	padding-right:35px;
	padding-top:15px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
  margin-top:30px;
	margin-left: -260px;
}

.feedback-input {
	font-family: Calibri;
	font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 20px;
	width:100%;
	background-color: white;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	box-sizing: border-box;
}

textarea {
	font-family: Calibri;
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}
#button-blue{
	font-family: Variane Script;
	font-size:20;
	float:left;
	width: 100%;
	background-color: pink;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	font-weight:700;
}
#references{
	text-align: center;
	font-family: "Calibri";
	font-size: 	30px;
}
h2{
	margin-left: 50px;
	font-family: "Calibri";
	font-size: 30px;
}
h3{
	font-size: 30px;
}
p{
	font-size: 20px;
	font-family: "Calibri";
	margin-left: 50px;
	margin-right: 50px;
}
#methodshttp{
	font-size: 20px;
	font-family: "Calibri";
	margin-left: 50px;
	margin-right: 50px;
}
#continuemethods{
	font-size: 20px;
	font-family: "Calibri";
	margin-left: 50px;
	margin-right: 50px;
}
footer {
clear :both;
background-color : gray;
letter-spacing : 5px;
color : black;
padding: 10px;
text-align: center;
}
