#HOME {
	font-size: 50px;
	font-family: "Century Gothic";
	text-align: center;
	filter: glow(color=red,strength=3);
	padding-top: 5vh;
}
#webtek{
	font-family: "Calibri";
	font-size: 30px;
	margin-right: 200px;
	margin-left: 200px;
}
#webtekdescription{
	font-family: "Calibri";
	font-size: 25px;
	margin-top: 5px;
	margin-bottom: 30px;
	margin-right: 200px;
	margin-left: 200px;
	text-align: justify;
}
#timeline{
	text-align: left;
	font-family: "Calibri";
	margin-right: 200px;
	margin-left: 200px;
}
#year{
	font-family: "Calibri";
	font-size: 18px;
	margin-right: 200px;
	margin-left: 200px;
	text-align: justify;

}
#LECTURE {
	font-size: 50px;
	font-family: "Century Gothic";
	filter: glow(color=red,strength=3);
	padding-top: 5vh;
	text-align: center;
}
#GLOSSARY {
	font-size: 50px;
	font-family: "Century Gothic";
	filter: glow(color=red,strength=3);
	padding-top: 5vh;
	text-align: center;
}
#REFERENCES {
	font-size: 50px;
	font-family: "Century Gothic";
	filter: glow(color=red,strength=3);
	padding-top: 5vh;
	text-align: center;
}
#CONTACT {
	font-size: 50px;
	font-family: "Century Gothic";
	filter: glow(color=red,strength=3);
	padding-top: 5vh;
	text-align: center;
}

#table1, #table2 {

    background-color: lightgray;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
}


#feedback-page{
	text-align:center;
}

#form-main{
	width:100%;
	float:left;
	padding-top: 0vh;
}

#form-div {
	background-color:gray;
	padding-left:35px;
	padding-right:35px;
	padding-top:15px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
  margin-top:30px;
	margin-left: -260px;
}

.feedback-input {
	font-family: "Calibri";
	font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 20px;
	width:100%;
	background-color: white;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	box-sizing: border-box;
}

textarea {
	font-family: "Calibri"aaa;
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}
#button-blue{
	font-family: Variane Script;
	font-size:20;
	float:left;
	width: 100%;
	background-color: pink;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	font-weight:700;
}
#references{
	font-family: "Calibri";
	font-size: 	30px;
	margin-left: 20%;
	margin-right: 20%;
}
#methodshttp{
	font-size: 20px;
	font-family: "Calibri";
	margin-left: 50px;
	margin-right: 50px;
}
#continuemethods{
	font-size: 20px;
	font-family: "Calibri";
	margin-left: 50px;
	margin-right: 50px;
	text-align: justify;
}
#messageheaders{
	font-size: 20px;
	font-family: "Calibri";
	margin-left: 50px;
	margin-right: 50px;
	text-align: justify;
}
#response{
	font-size: 20px;
	font-family: "Calibri";
	margin-left: 50px;
	margin-right: 50px;
	text-align: justify;
}
#www{
	margin-right: 160px;
	margin-left: 160px;
	text-align: justify;
}
#request{
	font-size: 20px;
	font-family: "Calibri";
	margin-left: 50px;
	margin-right: 50px;
	text-align: justify;	
}
#extensionmeth{
	font-size: 20px;
	font-family: "Calibri";
	margin-left: 50px;
	margin-right: 50px;
	text-align: justify;
}

/* Three columns side by side */
.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

